<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <title>Reports</title>
</head>
<body>
    {% include "Header.html" %}
    {% include "logout.html" %}

    <div class="container mt-5">
        <h1 class="text-center mb-4">Reports</h1>

        <div class="row justify-content-center">
            <div class="col-md-8">
                {% if reports %}
                    {% for report in reports %}
                        {% if not report.is_deleted %}
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">{{ report.title }}</h5>
                                <p class="card-text">
                                    <strong>Reporter:</strong> {{ report.account.username }}<br>
                                    <strong>Date Reported:</strong> {{ report.date_reported }}<br>
                                    <strong>Description:</strong> {{ report.description }}<br>
                                    {% if report.address %}
                                        <strong>Address:</strong> {{ report.address }}
                                    {% endif %}
                                </p>
                                {% if user.authority_level == "O" or user.authority_level == "A" %}
                                <a href="{% url 'create_task-page' report.id %}"><button class="btn btn-dark" type="submit">Add a Task</button></a>
                                <a href="{% url 'report_tasks-page' report.id %}"><button class="btn btn-dark" type="submit">See Tasks</button></a>
                                <a href="{% url 'delete_report-page' report.id %}"><button class="btn btn-dark" type="submit">Delete Report</button></a>
                                <a href="{% url 'update_report-page' report.id %}"><button class="btn btn-dark" type="submit">Update Report</button></a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-secondary text-center" role="alert">
                        No reports available.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>